#map{
    width:100%;
    height:100%;
}

.mapBox{
    display: block;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:0;
    padding: 0px;
}
.panel{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    width: initial;
    background-color: initial;
    border: none;
    box-shadow:none;
    padding: 6px 6px 4px 6px;



}

/**bootstrap overrides**/
.panel label{
    font-family: "Verdana", "sans-serif";
    font-weight: 400;
    color:#000;
    font-size: 10pt;
    text-shadow: 0px 0px 0.5px rgba(0,0,0,0.4);
}
/****/


.panel>div>div{
    margin-bottom:2px;
    border-radius: 0px;
    box-shadow: 0px 0px 2px rgba(100,100,50,0.7), 0px 0px 3px rgba(100, 100, 255, 0.5) inset;
    padding: 6px 10px 6px 6px;
    background-color: #ffffff;
}

#layersControl>div{
    width:325px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel>div>.control-styles{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}



.trigger{
    width: 305px;
}
.trigger:hover{
    cursor: pointer;
}
.trigger>div{
    font-family: "Lucida Grande", "Verdana", "sans-serif";
    font-style: normal;
    float: right;

    font-size: 9pt;
    color: #eeeeee;

    width: 14pt;
    line-height: 12pt;
    border-radius:10px;
    border-width: thin;
    border-style: solid;
    border-color: #eeeeee;
    text-align: center;
    padding-right:1px;
}


.trigger>div.lever.off:after{
    content: "+";
}
.trigger>div.lever.on:after{
    content: "-";
}
.trigger>div.lever:hover{
    color: rgba(100,50,0,0.5);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.trigger>div.lever:active{
    color: rgba(100,0,0,0.5);
    box-shadow: 0px 0px 2px rgba(100,0,0,0.2) inset;
}
.trigger>div.lever.on{
    box-shadow: 0px 0px 2px rgba(100,0,0,0.2) inset;
}

.styleChooser{
    width: 325px;
    font-weight: 700;
}
#styleChooser>div>button{
    margin-left:20px;
    font-weight: normal;
}

#zoom{
    position: absolute;
    top: 107px;
    left: 5px;
    z-index: 1;
}

.leaflet-label-overlay{    /*for district and vdc names*/
    padding: 2px;
    font-family: "verdana", "sans-serif";
    font-size: 8pt;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0,0,100,0.4);
}




/**this block can be safely removed**/
/**start of block**/
/*Poshan: need to locate element generating javascript to properly implement these rules**/
#map{
    background-color: #d9ddd9; /*sets background color for map div*/
}
path.leaflet-clickable{
    fill-color: #ffffff;  
    fill-opacity:0.2;
            /*sets color and opacity for map of Nepal*/
            /*implement same color and rules for both district and vdc divs*/
}
/**end of block**/

/* styling of no of cases in htc divicon*/
.no-cases-icon {
  background:#ff8888;
  border:5px solid rgba(255,255,255,0.5);
  color:#fff;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
  }