#map{
    width:100%;
    height:100%;
}

.mapBox{
    display: block;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:0;
    padding: 0px;
}
.panel{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    width: initial;
    background-color: initial;
    border: none;
    box-shadow:none;
    padding: 6px 6px 4px 6px;
}

/**bootstrap overrides**/
.panel label, .leaflet-bottom.leaflet-left .info1.leaflet-control{
    font-family: "Verdana", "sans-serif";
    font-weight: 400;
    color:#000;
    font-size: 10pt;
    text-shadow: 0px 0px 0.5px rgba(0,0,0,0.4);
}
/****/


.panel>div>div, .leaflet-bottom.leaflet-left .info1.leaflet-control{
    margin-bottom:2px;
    border-radius: 0px;
    box-shadow: 0px 1.5px 6px rgba(50, 50, 50, 0.8), 0px 0px 1px rgba(100, 100, 0, 0.6), 0px 0px 6px rgba(20, 20, 0, 0.5) inset;
    padding: 6px 10px 6px 6px;
    background-color: #ffffff;
}

#layersControl>div{
    width:150px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.panel>div>.control-styles{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}



.trigger{
    width: 130px;
}
.trigger:hover{
    cursor: pointer;
}
.trigger>div{
    font-family: "Lucida Grande", "Verdana", "sans-serif";
    font-style: normal;
    float: right;

    font-size: 9pt;
    color: #eeeeee;

    width: 14pt;
    line-height: 12pt;
    border-radius:10px;
    border-width: thin;
    border-style: solid;
    border-color: #eeeeee;
    text-align: center;
    padding-right:1px;
}


.trigger>div.lever.off:after{
    content: "+";
}
.trigger>div.lever.on:after{
    content: "-";
}
.trigger>div.lever:hover{
    color: rgba(100,50,0,0.5);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.trigger>div.lever:active{
    color: rgba(100,0,0,0.5);
    box-shadow: 0px 0px 2px rgba(100,0,0,0.2) inset;
}
.trigger>div.lever.on{
    box-shadow: 0px 0px 2px rgba(100,0,0,0.2) inset;
}

.styleChooser{
    width: 150px;
    font-weight: 700;
}
#styleChooser>div>button{
    margin-left:20px;
    font-weight: normal;
}

/**legend**/
.leaflet-bottom.leaflet-left .info1.leaflet-control{
    margin-bottom: 27px;
    border-radius: 6px;
    max-width: 160px;
    display: inline-flex;
    flex-wrap: wrap;
    padding:10px;
}
.leaflet-bottom.leaflet-left .info1.leaflet-control>h3{
    margin-top: 0px;
    font-size: 14pt;
    width: 300px;
    text-align: center;
}
.leaflet-bottom.leaflet-left .info1.leaflet-control img{
    padding : 3px;
    margin-top : 5px;
    margin-right : 10px;
    margin-bottom : 2px;
}
.leaflet-bottom.leaflet-left .info1.leaflet-control>div{
    min-width: 136px;
    border-radius : 6px;
    border: #eeeeee thin solid;
    margin: 4px 4px 0px 0px;
}
/****/

/**district info popup**/
#popup td{
    border: #eeeeee thin solid;
}
/****/

#zoom{
    padding: 3px;
    background-color: #fff;
    border-radius: 4px;
}
#zoom:hover{
    cursor: pointer;
    background-color: #f4f4f4;
}
#zoom>img{
    width: 20px;
    height: 20px;
    outline: rgba(230,230,230,1) solid thin;
}

.leaflet-label-overlay{    /*for district and vdc names*/
    padding: 2px;
    font-family: "verdana", "sans-serif";
    font-size: 8pt;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0,0,100,0.4);
}

/**this block can be safely removed**/
/**start of block**/
/*Poshan: need to locate element generating javascript to properly implement these rules**/
#map{
    background-color: #d9ddd9; /*sets background color for map div*/
}
path.leaflet-clickable{
    fill-color: #ffffff;  
    fill-opacity:0.2;
            /*sets color and opacity for map of Nepal*/
            /*implement same color and rules for both district and vdc divs*/
}
/**end of block**/

/* styling of no of cases in htc divicon*/
.no-cases-icon {
  background:#ff8888;
  border:5px solid rgba(255,255,255,0.5);
  color:#fff;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
  }

/* lealet search control overrides*/
.leaflet-control-search>input.search-input{
    width: 200px;
    font-family:"Verdana", "sans-serif";
    font-weight:400;
    font-size: 10pt;
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.4);
}

/**district popup**/
#popup tr{
    font-weight: bold;
}
#popup tr.sublist{
    font-weight: normal;
    font-style: italic;
}
#popup tr.sublist td{
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
}
#popup tr.listitem.expandable td{
    border-bottom: none;
}
/****/