#map{
/*    width:100%;
    min-height:80%;
    max-height:90%;*/
    width:100%;
    height:90%;
}

.mapBox{
    display: block;
    top:0;
    left:0;
    width: 100%;
    /*height: 100%;*/
    z-index:0;
    padding: 0px;
}
.panel{
    position: absolute;
    top: 10px;
    right: 6px;
    z-index: 2;
    width: initial;
    background-color: initial;
    border: none;
    box-shadow:none;
    padding: 6px 10px 4px 10px;
}

/**bootstrap overrides**/
.panel *, .leaflet-bottom.leaflet-left .info1.leaflet-control{
    font-family: "Verdana", "sans-serif";
    font-weight: 400;
    color:#000;
    font-size: 10pt;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}
/****/


.panel>div>div, .leaflet-bottom.leaflet-left .info1.leaflet-control{
    margin-bottom:2px;
    border-radius: 0px;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.8), 0px 0px 1px rgba(100, 100, 0, 0.6), 0px 0px 6px rgba(20, 20, 0, 0.5) inset;
    padding: 6px 10px 6px 6px;
    background-color: #ffffff;
}



#layersControl>div{
    width:150px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.panel>div>.control-styles{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}



.trigger{
    width: 130px;
}
.trigger:hover{
    cursor: pointer;
}
.trigger>div{
    font-family: "Lucida Grande", "Verdana", "sans-serif";
    font-style: normal;
    float: right;

    font-size: 9pt;
    color: #eeeeee;

    width: 14pt;
    line-height: 12pt;
    border-radius:10px;
    border-width: thin;
    border-style: solid;
    border-color: #eeeeee;
    text-align: center;
    padding-right:1px;
}


.trigger>div.lever.off:after{
    content: "+";
}
.trigger>div.lever.on:after{
    content: "-";
}
.trigger>div.lever:hover{
    color: rgba(100,50,0,0.5);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.trigger>div.lever:active{
    color: rgba(100,0,0,0.5);
    box-shadow: 0px 0px 2px rgba(100,0,0,0.2) inset;
}
.trigger>div.lever.on{
    box-shadow: 0px 0px 2px rgba(100,0,0,0.2) inset;
}

.styleChooser{
    width: 150px;
    font-weight: 700;
}
#styleChooser>div>button{
    margin-left:20px;
    font-weight: normal;
}

/**Layers and StyleChooser labels**/
div.control-styles, div.leaflet-control-layers-group span.leaflet-control-layers-group-name{
    font-family: "Verdana", "sans-serif";
    font-size: 12pt;
    font-weight: normal;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}

div.leaflet-control-layers-group label:first-of-type{
    margin-top:10px
}

div.control-styles div#styleChooser{
    margin-top:10px;
    font-size:10pt;
}
/****/

/**legend**/
.leaflet-bottom.leaflet-left .info1.leaflet-control{
    margin-bottom: 27px;
    border-radius: 6px;
    max-width: 220px;
    max-height:190px;
    overflow-y:auto;
    overflow-x:hidden;
    display: inline-flex;
    flex-wrap: wrap;
    padding:2px;
}
.leaflet-bottom.leaflet-left .info1.leaflet-control>h3{
    margin-top: 6px;
    font-size: 12pt;
    width: 220px;
    text-align: center;
}
.leaflet-bottom.leaflet-left .info1.leaflet-control img{
    padding : 3px;
    margin-top : 5px;
    margin-right : 2px;
    margin-bottom : 2px;
}
.leaflet-bottom.leaflet-left .info1.leaflet-control>div{
    min-width: 216px;
    border-radius : 0px;
    border-top: #eeeeee thin solid;
    margin: 0px 0px 0px 0px;
    font-size:8pt;
}
/****/

/**zoom controls**/
div.leaflet-control-zoom{
    top:5px;
    margin-top:0px;
}
div.leaflet-control-search{
    top:5px;
}

#zoom{
    padding: 3px;
    background-color: #fff;
    border-radius: 4px;
}
#zoom:hover{
    cursor: pointer;
    background-color: #f4f4f4;
}
#zoom>img{
    width: 20px;
    height: 20px;
    outline: rgba(230,230,230,1) solid thin;
}
/****/

.leaflet-label-overlay{    /*for district and vdc names*/
    padding: 2px;
    font-family: "Verdana", "sans-serif";
    font-size: 8pt;
    text-shadow: 0px 0px 4px #fff, 0px 0px 1px #009;
/*    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0,0,100,0.4);*/
}

/**this block can be safely removed**/
/**start of block**/
/*Poshan: need to locate element generating javascript to properly implement these rules**/
#map{
    background-color: #d9ddd9; /*sets background color for map div*/
}
path.leaflet-clickable{
    fill-color: #ffffff;  
    fill-opacity:0.2;
            /*sets color and opacity for map of Nepal*/
            /*implement same color and rules for both district and vdc divs*/
}
/**end of block**/

/* styling of no of cases in htc divicon*/
.no-cases-icon {
  background:#ff8888;
  border:5px solid rgba(255,255,255,0.5);
  color:#fff;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
  }

/* lealet search control overrides*/
.leaflet-control-search>input.search-input{
    width: 200px;
    font-family:"Verdana", "sans-serif";
    font-weight:400;
    font-size: 10pt;
    text-shadow:0px 0px 1px rgba(0,0,0,0.4);
}

/**district popup**/
.leaflet-popup-scrolled{
    border:none;
    /*text-align:center;*/
}
#popup td{
    border: #cccccc thin solid;
}

#popup tr{
    font-size: 10pt;
}
#popup tr.sublist{
    font-weight: normal;
    font-style: italic;
}
#popup tr.sublist td{
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
}
#popup tr.listitem.expandable td{
    border-bottom: none;
}
/****/


/**title**/
header.title{
   /*position:absolute;*/
   /*width:100%;*/
   /*z-index:20000;*/
   height:10%;
   margin:0px;
}

/*div.title>h3{
    text-align:center;
    font-size:20pt;
    margin:0px;
    text-shadow: 0px 0px 1px rgb(50,50,0);
}*/
div.row{
    position:relative;
    margin:0px;
    max-height:90%;
}

/****/
